.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: var(--font-weight-bold);
  color: var(--color-black-light);
}

.cards {
  display: flex;
  align-items: center;
  gap: 15px;
}
