@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Titillium+Web:wght@300;400;600;700;900&display=swap");

:root {
  font-family: "Titillium Web", "Montserrat", sans-serif;

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  --font-size-1: 12px;
  --font-size-2: 14px;
  --font-size-3: 16px;
  --font-size-4: 18px;
  --font-size-5: 20px;
  --font-size-title: 40px;

  --logo-height: 18px;
  --search-height: 40px;

  --border-radius-high: 10px;
  --border-radius-medium: 8px;
  --border-radius-small: 5px;

  --color-orange-light: #faa500;
  --color-black-light: #353535;
  --color-white: #fff;
  --color-gray-light: #efefef;

  --font-weight-bold: 700;

  margin: 0;
}

/* ------------ swiper ------------------- */

.swiper-pagination-bullet {
  /* 16px is the base size, but it get increased by to 2px by some config of swiper */
  width: calc(16px - 2px);
  height: calc(16px - 2px);
  border: 1px solid var(--color-orange-light);
  opacity: 1;
  background: transparent;
}

.swiper-pagination-bullet-active {
  background: var(--color-orange-light);
}

.swiper-button-prev {
  background-image: url("/src/assets/svgs/_icon-prev.svg") !important;
  background-repeat: no-repeat;
}

.swiper-button-next {
  background-image: url("/src/assets/svgs/_icon-next.svg") !important;
  background-repeat: no-repeat;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}
